h1, h2, h3, h4, h5 {
	font-family: Gill Sans;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

hr {
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #cacaca;
    padding: 0;
}

section {
	padding-left: 50px;
	padding-right: 50px;
}

.edm-shadow {
	text-shadow: 0px 0px 5px #000;
}

.wrapper {
	margin: 0px;
	width: 100%;
}